.tabs {
  overflow: hidden;
}

.tabContent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #fff;
  border-top: none;
}
.tabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  background-color: #fff;
}
.tabs button.active,
.tabs button.active::after {
  background-color: #fff;
  border-bottom: none;
}

button.tabButton {
  position: relative;
  border-radius: 5px 0 0 0;
  background: #ccc;
  border: 1px solid gray;
  margin-right: 7px;
}
.tabContent {
  display: none;
  padding: 1px 0px 0px 0px;
  border: 1px solid gray;
  border-top: none;
  border-right: none;
}
button.tabButton::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -1px;
  right: -10px;
  bottom: -1px;
  width: 16px;
  background: #ccc;
  transform: skew(10deg);
  border-radius: 0 5px 0 0;
  border: 1px solid gray;
  border-left: 0;
}

